<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600838317485&di=f3fba11c520ada591c3ef8bd9cdce706&imgtype=0&src=http%3A%2F%2Fbpic.588ku.com%2Felement_origin_min_pic%2F16%2F10%2F17%2F235804e9de6ef89.jpg"/>
    <title>黑客论坛-忘记密码</title>
</head>
<body>
	<div>
		<p>
			<b>xxx@xxx.com</b>, 您好!
		</p>
		<p>
			您正在找回黑客论坛账号的密码, 本次操作的验证码为 <b>u5s6dt</b> ,
			有效时间5分钟, 请您及时进行操作!
		</p>
	</div>
</body>
</html>